*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#800000;
    font-family: 'Poppins', sans-serif;
}


.logo {
    color: #FFD700;
    font-weight: bold;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
}

.logo a {
    font-weight: bold;
    width: 10%;
    margin-right: 10px;
}

.logo img {
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    width: 100px;
    padding: 20px 15px;
    text-decoration: none;
    color: #FFD700;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

li {
    float: left;
}
.nav-links a:hover {
    background: black;
    transition: 0.5s;
    text-transform: uppercase;
}
.separator {
    height:5px;
    background-color: #000000;
}
/* .carousel-inner {
    height: 700px !important;
} */

.imagem-carousel {
    object-fit: fill;
    object-position: 0 40%;
}

.carousel-item {
    height: 700px !important;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #FFD700;
    margin: 5px;
    transition: all 0.3s;
}

 @media screen and (max-width: 1280px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#800000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display:block;
    }
}

.nav-active{
    transform: translateX(0%)
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);   
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, 6px); 
} 

.sobre-imagem {
    width: -650px;
    height: -450px;
    width: 40%
}

.sessao-sobre {
    padding: 2%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.img-box {
    max-width: 350px;
    max-height: 400px;
    overflow: hidden;
}

.card-header {
    width: 100%;
}

.iniciativa {

    text-align: center;
    margin: 40px auto 40px;
    text-transform: uppercase;
    line-height: 16px;
    color:  #000000;
    font-size: 2rem;
    font-weight: bold;
}

.back-top {
    bottom: 55px;
    right: 20px;
    margin-bottom: 0;
    display: block;
    position: fixed;
    display: scroll;
    /* display: none; */
}

.bg-roxo {
    box-sizing: border-box;
    background-color:#800000;
    text-align: center!important;
}

.floatright {
    display: block;
}

#footer {
    background: #151515;
    color: #666;
    padding: 30px 0;
    margin-top: 36px;
}

#footer {
    border-top: #800000 4px solid;
}

.row {
    width: 980px;
    min-width: 768px;
    max-width: 100%;
    margin: 0 auto;
}

#footer a {
    color: #666;
    font-size: 20px;
}

.four, .row .four {
    width: 33.33333%;
}

#footer h1 {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 20px;
}

p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.column, .columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}

.three, .row .three {
    width: 25%;
}



